:root {
  --sidebar-width: 240px;
}

.layout {
  // display: flex;
  height: 100%;

  .burger {
    display: none;
    background: var(--secondary-color);
  }
}

.content {
  margin: 0 0 0 var(--sidebar-width);
  flex-grow: 1;
  padding: 40px 60px 0;
}

.link {
  transition: .3s;
  color: var(--text-color);

  &:visited {
    color: var(--text-color);
  }

  &:hover {
    color: var(--primary-color);
  }

  &.active {
    color: var(--primary-color);
  }
}

.sidebar {
  position: fixed;
  height: 100%;
  z-index: 2;
  background: var(--white-color);
  padding: 30px 25px 53px 30px;
  display: flex;
  flex-direction: column;
  gap: 46px;
  max-width: var(--sidebar-width);
  width: 100%;
  border-right: 1px solid var(--border-color);


  nav {
    flex-grow: 1;

    ul {
      display: flex;
      flex-direction: column;
      gap: 34px;
      padding: unset;
      margin: unset;
      list-style: none;

      li {
        font-family: var(--font-family);
        color: var(--text-color);
        width: fit-content;

        a {
          display: flex;
          align-items: center;
          gap: 14px;
          font-family: var(--font-family);
          text-decoration: none;


        }
      }
    }
  }

  .user {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }

    &-image {
      display: flex;
      justify-content: center;
      max-width: 90px;
      max-height: 90px;
      aspect-ratio: 1;
      border-radius: 50%;
      overflow: hidden;
      filter: drop-shadow(0px 0px 10px rgba(254, 114, 76, 0.25));
      background: var(--primary-color);
      transition: .3s ease-in-out;

      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  .headline {
    font-weight: 700;
    font-size: 20px;
    color: var(--text-color);
  }

  .email {
    color: var(--text-color-light);
  }

}

@media (width <=1024px) {
  .layout {
    flex-direction: column;
  }

  .content {
    padding: 10px 20px 0;
    margin: 0 auto;

  }

  .sidebar {
    height: auto;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    max-width: 100%;
    border-right: unset;
    padding: 10px 20px;
    border-bottom: 1px solid var(--border-color);

    nav {
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        flex-direction: row;

        //li {}
      }
    }

    .user {
      flex-direction: row;
      align-items: center;

      //&-info {}

      &-image {
        min-width: 45px;
        max-width: 45px;
      }
    }

    //.headline {}

    //.email {}
  }
}

@media (width <=768px) {
  .layout {
    position: relative;
    flex-direction: row;

    .burger {
      position: fixed;
      right: 10px;
      top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border: 2px solid var(--primary-color);
      cursor: pointer;
      z-index: 2;

      &.open {
        span::before {
          top: -1px;
          transform: rotate(-45deg);
        }

        span::after {
          top: -1px;
          transform: rotate(45deg);
        }
      }

      span {
        position: relative;
        width: 20px;
        height: 0px;

        &::after,
        &::before {
          transition: .3s ease-in-out;
          position: absolute;
          content: '';
          width: 100%;
          height: 2px;
          background: var(--primary-color);
          margin: 0 auto;

        }

        &::after {
          inset: -4px 0 0 0;

        }

        &::before {
          inset: 2px 0 0 0;

        }
      }
    }
  }

  .content {
    padding: 5px 10px 0;
  }

  .sidebar {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    align-items: flex-start;
    padding: 76px 25px 53px 30px;
    height: 100%;
    flex-direction: column;
    gap: 2em;
    max-width: var(--sidebar-width);
    background: var(--white-color);
    border-bottom: unset;
    border-left: 1px solid var(--border-color);
    transform: translateX(100%);
    transition: .3s ease-in-out;
    overflow-y: auto;

    &.open {
      transform: translateX(0);
    }

    nav {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: flex-start;

      ul {
        flex-direction: column;
      }
    }

    .user {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      width: 100%;

      //&-info {}

      &-image {
        min-width: 45px;
      }
    }

    //.headline {}

    //.email {}
  }
}


//.user-image svg,
//nav svg,
//button svg {
.user-image svg,
nav svg {
  opacity: 0; // Изначально невидимо
  transform: scale(0.8); // Уменьшение размера
  transition: opacity 0.5s ease, transform 0.5s ease; // Плавный переход
}

//.user-image svg.loaded,
//nav svg.loaded,
//button svg.loaded {
.user-image svg.loaded,
nav svg.loaded {
  opacity: 1; // Видимо
  transform: scale(1); // Обычный размер
}
