.head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}

// .menu {}

.grid {
  display: grid;
  width: 100%;
  margin: 0 auto;
  gap: 34px 45px;
  margin: 30px 0 0;

  &[data-columns='auto'] {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  &[data-columns='2'] {
    max-width: 1440px;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 45px), 1fr));
  }

  &[data-columns='3'] {
    max-width: 1440px;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 45px), 1fr));
  }
}

@media (width <=1024px) {
  // .head {}

  .grid {
    &[data-columns='2'] {
      grid-template-columns: repeat(auto-fill, minmax(calc(50% - 45px), 1fr));
    }

    &[data-columns='3'] {
      grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 45px), 1fr));
    }
  }
}

@media (width <=768px) {
  .head {
    justify-content: flex-start;
    align-items: center;
  }

  .grid {
    &[data-columns='3'] {
      grid-template-columns: repeat(auto-fill, minmax(calc(50% - 45px), 1fr));
    }
  }
}

@media (width <=480px) {
  .grid {

    &[data-columns='auto'],
    &[data-columns='2'],
    &[data-columns='3'] {
      grid-template-columns: 1fr;
    }
  }

  .head {
    flex-direction: column;
  }
}
